<h4>Bonjour,</h4>

<p>Le client {{ticket.firstName}} {{ticket.lastName}} a annulé son ticket n° {{ticket.ticketNumber}} dans la facture n°{{facture.number}}</p><br>

<p>Le montant du ticket est de {{ticket.price}}€</p><br>

<p>L'équipe Odyssée / APU 2019</p><br>
