<h4>Bonjour,</h4>

<p>Vous avez validé l'annulation de M./Mme {{facture.customer.firstName}} {{facture.customer.lastName}} pour son ticket n°{{ticket.ticketNumber}} inclus dans la facture n° {{facture.number}}, le montant du ticket est de {{ticket.price}}€.</p><br>

<p>L'équipe Odyssée / APU 2019</p><br>
