<h4>Bonjour,</h4>

<p>M./Mme {{facture.customer.firstName}} {{facture.customer.lastName}} a fait une demande d'annulation pour son ticket n°{{ticket.ticketNumber}} inclus dans la facture n° {{facture.number}}, le montant du ticket est de  {{ticket.price}}€.</p><br>

<p>L'équipe Odyssée / APU 2019</p><br>
